/* line 5, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/contacts.sass */
html {
  overflow-x: hidden !important;
}

/* line 7, ../sass/contacts.sass */
body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 62.5%;
  min-width: 320px;
  position: relative;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden !important;
  background: url("../img/body_bg2(300).png") no-repeat right top;
}

/* line 17, ../sass/contacts.sass */
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

/* line 20, ../sass/contacts.sass */
body input:required:valid,
body textarea:required:valid {
  color: #000;
}

/* line 24, ../sass/contacts.sass */
.hidden {
  display: none;
}

/* line 27, ../sass/contacts.sass */
.left {
  float: left;
}

/* line 29, ../sass/contacts.sass */
.right {
  float: right;
}

/* line 32, ../sass/contacts.sass */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
}

/* line 38, ../sass/contacts.sass */
.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999999;
}

/* line 49, ../sass/contacts.sass */
.loader_inner {
  background-image: url("../img/preloader8.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #fff;
  height: 130px;
  width: 130px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

/* line 65, ../sass/contacts.sass */
header {
  padding-top: 30px;
  position: relative;
}
/* line 68, ../sass/contacts.sass */
header .information {
  width: 100%;
  display: inline-block;
}
/* line 71, ../sass/contacts.sass */
header .information .logo {
  display: inline-block;
  width: 70%;
  text-align: center;
}
/* line 75, ../sass/contacts.sass */
header .information .logo img {
  margin-left: 15%;
  max-width: 100%;
  height: auto;
}
/* line 79, ../sass/contacts.sass */
header .information .social {
  display: inline-block;
  float: left;
  width: 12%;
  text-align: center;
  margin-top: 5px;
}
/* line 85, ../sass/contacts.sass */
header .information .social .social-item {
  display: inline-block;
  font-size: 1.6em;
  width: 30px;
  height: 30px;
  background-color: #005E8E;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 4%;
}
/* line 94, ../sass/contacts.sass */
header .information .social .social-item a {
  color: #fff;
  text-decoration: none;
}
/* line 97, ../sass/contacts.sass */
header .information .social .social-item a i {
  margin-top: 7px;
}
/* line 100, ../sass/contacts.sass */
header .information .phone_number {
  display: inline-block;
  width: 18%;
  height: 100%;
  text-align: right;
  float: right;
}
/* line 106, ../sass/contacts.sass */
header .information .phone_number h3 {
  font: 2.2em "CuprumRegular", Arial, sans-serif;
  margin-bottom: 1%;
}
/* line 109, ../sass/contacts.sass */
header .information .phone_number h2 {
  font: 1.2em "CuprumRegular", Arial, sans-serif;
  letter-spacing: 5px;
  color: #005E8E;
  margin-left: 2%;
}

/* line 116, ../sass/contacts.sass */
nav {
  display: inline-block;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 123, ../sass/contacts.sass */
nav ul {
  width: 100%;
  height: 16px;
  padding-left: 15%;
}
/* line 127, ../sass/contacts.sass */
nav ul li {
  cursor: pointer;
  float: left;
  width: 13.2%;
  height: 100%;
  border-right: 1px solid #005E8E;
  text-align: center;
}
/* line 134, ../sass/contacts.sass */
nav ul li:last-child {
  border-right: none;
}
/* line 136, ../sass/contacts.sass */
nav ul li:hover {
  text-decoration: none;
}
/* line 138, ../sass/contacts.sass */
nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000;
  font: 1.35em "RalewayBold", Arial, sans-serif;
  text-decoration: none;
}
/* line 146, ../sass/contacts.sass */
nav ul li a:hover {
  text-decoration: none;
  color: #005E8E;
}
/* line 149, ../sass/contacts.sass */
nav ul li a:focus {
  color: #005E8E;
}
/* line 151, ../sass/contacts.sass */
nav ul li:nth-child(5) {
  width: 19%;
}

/* line 153, ../sass/contacts.sass */
.submenu {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 2%;
}
/* line 159, ../sass/contacts.sass */
.submenu .container #jq-dropdown-1.jq-dropdown {
  width: 100% !important;
  position: static !important;
  padding: 0 !important;
  float: right;
}
/* line 164, ../sass/contacts.sass */
.submenu .container #jq-dropdown-1.jq-dropdown .jq-dropdown-panel {
  width: 100% !important;
  position: static !important;
  min-width: 0% !important;
  max-width: 100% !important;
  padding: 0 !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
/* line 173, ../sass/contacts.sass */
.submenu .container #jq-dropdown-1.jq-dropdown .jq-dropdown-panel ul {
  width: 100%;
  height: 16px;
}
/* line 176, ../sass/contacts.sass */
.submenu .container #jq-dropdown-1.jq-dropdown .jq-dropdown-panel ul li {
  cursor: pointer;
  display: inline-block;
  width: 11.6%;
  height: 100%;
  text-align: center;
}
/* line 182, ../sass/contacts.sass */
.submenu .container #jq-dropdown-1.jq-dropdown .jq-dropdown-panel ul li:last-child {
  border-right: none;
}
/* line 184, ../sass/contacts.sass */
.submenu .container #jq-dropdown-1.jq-dropdown .jq-dropdown-panel ul li:hover {
  text-decoration: none;
}
/* line 186, ../sass/contacts.sass */
.submenu .container #jq-dropdown-1.jq-dropdown .jq-dropdown-panel ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000;
  font: 1.15em "RalewayRegular", Arial, sans-serif;
  text-decoration: none;
}
/* line 194, ../sass/contacts.sass */
.submenu .container #jq-dropdown-1.jq-dropdown .jq-dropdown-panel ul li a:hover {
  text-decoration: none;
  color: #005E8E;
}

/* line 199, ../sass/contacts.sass */
.main {
  position: relative;
  margin-top: 100px;
}
/* line 202, ../sass/contacts.sass */
.main .photo {
  position: relative;
  left: 40%;
  width: 200px;
  height: 200px;
  background: url("../img/contacts_bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 213, ../sass/contacts.sass */
.main .text {
  margin-top: 30px;
  text-align: center;
}
/* line 216, ../sass/contacts.sass */
.main .text h1 {
  font: 5em "Bad Script", Arial, sans-serif;
}
/* line 218, ../sass/contacts.sass */
.main .text h5 {
  font: 2em "RalewayLight", Arial, sans-serif;
}
/* line 220, ../sass/contacts.sass */
.main .text .tel {
  padding-bottom: 40px;
  font: 1.6em "RalewayLight", Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 94, 142, 0.2);
  margin-top: 2%;
  word-spacing: 0.3em;
}
/* line 226, ../sass/contacts.sass */
.main .contacts {
  padding-top: 3%;
}
/* line 228, ../sass/contacts.sass */
.main .contacts .item {
  display: inline-block;
  float: left;
  font-size: 2em;
  margin-right: 16%;
}
/* line 233, ../sass/contacts.sass */
.main .contacts .item:last-child {
  margin-right: 0;
}
/* line 235, ../sass/contacts.sass */
.main .contacts .item i {
  color: #005E8E;
}
/* line 238, ../sass/contacts.sass */
.main .contacts .item a {
  font: 0.8em "RalewayLight", Arial, sans-serif;
  text-decoration: none;
  color: #000;
}

/* line 247, ../sass/contacts.sass */
.font_blue {
  color: #005E8E;
}

/* line 250, ../sass/contacts.sass */
.line {
  width: 25px;
  height: 2px;
  background-color: #005E8E;
  margin-top: 5px;
  margin-left: 2px;
}

/* line 257, ../sass/contacts.sass */
footer {
  margin-top: 330px;
  clear: right;
}
/* line 260, ../sass/contacts.sass */
footer .container {
  padding-top: 3.5%;
  padding-bottom: 1.5%;
}
/* line 263, ../sass/contacts.sass */
footer .container h5 {
  text-align: center;
  font: 1em "RalewayRegular", Arial, sans-serif;
  letter-spacing: 2px;
}

/* line 270, ../sass/contacts.sass */
.locked {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}
